body{

background:linear-gradient(120deg,#2980b9,#6dd5fa);

font-family:sans-serif;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

margin:0;

}


.container{

background:white;

padding:30px;

border-radius:10px;

width:350px;

box-shadow:0 0 20px rgba(0,0,0,0.2);

text-align:center;

}


input{

width:100%;

padding:10px;

margin:10px 0;

border:1px solid #ccc;

border-radius:5px;

}


button{

padding:10px;

margin:5px;

border:none;

background:#2980b9;

color:white;

border-radius:5px;

cursor:pointer;

}


button:hover{

background:#1f6691;

}


.logout{

background:red;

}


.task{

background:#f1f1f1;

padding:10px;

margin-top:10px;

display:flex;

justify-content:space-between;

}


.msg{

color:green;

}